*/__pycache__

*/data/ds

*/data/kg

*/__init.py

.python-version

__pycache__

**/logs.txt

Recommender_System/**/log

kafka_runner

ripplenet.pt

data_collection/*/*.csv
kafka_runner

ripplenet.pt

data_collection/*/*.csv

.env

node_modules

.vscode

elasticsearch-data

mongo-data

nginx-log

data/*.json

data/*.csv

key

setup/nginx

data/kg